<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png"
      href="{{ url_for('static', filename='favicon.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL Match Win Predictor | Aditya Goyal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>

<div class="main-container">

    <div class="card">

        <h1>🏏 IPL Match Win Predictor</h1>

        <p class="subtitle">
            Real-Time Winning Analysis
        </p>
        {% if error %}
        <div class="error-box">
            {{ error }}
        </div>
        {% endif %}

        <form action="/predict" method="POST">
            <div class="row">
                <div class="input-box">
                    <label>Batting Team</label>
                    <select name="batting_team">
                        {% for team in teams %}
                        <option value="{{ team }}"
                        {% if batting_team is defined and batting_team == team %}selected{% endif %}>
                            {{ team }}
                        </option>
                        {% endfor %}
                    </select>

                </div>

                <div class="input-box">

                    <label>Bowling Team</label>
                    <select name="bowling_team">
                        {% for team in teams %}
                        <option value="{{ team }}"
                        {% if bowling_team is defined and bowling_team == team %}selected{% endif %}>
                            {{ team }}
                        </option>
                        {% endfor %}
                    </select>

                </div>

            </div>

            <div class="row">

                <div class="input-box">
                    <label>Venue</label>
                    <select name="city">
                        {% for city in cities %}
                        <option value="{{ city }}"
                        {% if city_selected is defined and city_selected == city %}selected{% endif %}>
                            {{ city }}
                        </option>
                        {% endfor %}
                    </select>

                </div>

                <div class="input-box">

                    <label>Target</label>
                    <input type="number"
                           name="target"
                           placeholder="Target Score"
                           value="{{ target if target is defined else '' }}"
                           required>
                </div>

            </div>

            <div class="row three">

                <div class="input-box">
                    <label>Current Score</label>
                    <input type="number"
                           name="score"
                           value="{{ score if score is defined else '' }}"
                           required>
                </div>

                <div class="input-box">
                    <label>Overs</label>
                    <input type="number"
                           step="0.1"
                           name="overs"
                           value="{{ overs if overs is defined else '' }}"
                           required>
                </div>

                <div class="input-box">
                    <label>Wickets Lost</label>
                    <input type="number"
                           name="wickets"
                           value="{{ wickets if wickets is defined else '' }}"
                           required>

                </div>

            </div>

            <button type="submit">
                Predict Match Winner
            </button>

        </form>

        {% if win is defined %}

        <div class="result-card">

            <h2>Prediction Result</h2>

            <div class="team-result">

                <div class="team-header">
                    <img src="{{ url_for('static', filename=team_logos[batting_team]) }}">
                    <h3>{{ batting_team }}</h3>
                </div>

                <div class="progress">
                    <div class="progress-bar" style="width: {{ win }}%;"></div>
                </div>

                <p>{{ win }}%</p>

            </div>

            <div class="team-result">

                <div class="team-header">
                    <img src="{{ url_for('static', filename=team_logos[bowling_team]) }}">
                    <h3>{{ bowling_team }}</h3>
                </div>

                <div class="progress">
                    <div class="progress-bar loss" style="width:{{loss}}%"></div>
                </div>

                <p>{{ loss }}%</p>

            </div>

        </div>

        <div class="summary-card">

            <h2>Match Summary</h2>

            <div class="summary-grid">

                <div class="summary-item">
                    <span>Runs Needed</span>
                    <h3>{{ runs_left }}</h3>
                </div>

                <div class="summary-item">
                    <span>Balls Left</span>
                    <h3>{{ balls_left }}</h3>
                </div>

                <div class="summary-item">
                    <span>Wickets Left</span>
                    <h3>{{ wickets_left }}</h3>
                </div>

                <div class="summary-item">
                    <span>Current RR</span>
                    <h3>{{ crr }}</h3>
                </div>

                <div class="summary-item">
                    <span>Required RR</span>
                    <h3>{{ rrr }}</h3>
                </div>

            </div>

        </div>

        {% endif %}

    </div>

</div>

</body>
</html>